/* ======================================================================================== */

/* .header {} */

.header {
    padding: 0 10px;
}

.hat-article {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3cbd9;
}



.hat-article__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: end;
}

.hat-article__info-text {
    color: #858e8a;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
}

.hat-article__info a {
    text-decoration: none;
    color: #2c332f;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}



/* Main==================================================================================== */
main {
    margin-bottom: 110px;
}

.preview {
    margin-bottom: 65px;
}

/* .preview-text__first {} */

/* .preview-text__second {} */

.title-text {
    color: #2c332f;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 5px rgba(0, 0, 0, 0.25);
}

.image-gym {
    max-width: 1230px;
    margin-bottom: 65px;
    width: 100%;
}

.group-activities {
    margin-bottom: 65px;
}

div.group-activities h3 {
    color: #2c332f;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
}

.activities__list li::marker {
    color: #3596ed;
}

ul.activities__list li {
    margin-bottom: 12px;
}

.activities__list-article {
    color: #535755;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}

/* .comment-gym {} */

div.comment-gym h3 {
    color: #2c332f;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
}

div.comment-gym video {
    max-width: 1230px;
    margin-bottom: 20px;
    width: 100%;
}

div.comment-gym p {
    margin-bottom: 120px;
    color: #535755;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}


/* Footer==================================================================================== */

.footer {
    background: linear-gradient(90.00deg, #49a9ff33, #fc7cd933 100%);
}

.container-footer {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-footer {
    padding-bottom: 40px;
}

/* .footer__nav {} */

.footer__nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1vh 60px;
    padding: 0px 40px 39.5px 40px;
}

.footer__nav-list-item {
    color: #535755;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}


.copyright {
    padding-bottom: 40px;
    color: #858e8a;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
    text-align: left;
    text-align: center;
}

.footer hr {
    padding-bottom: 40.5px;
}

/*decor=============================================================================*/

.decor-square {
    position: relative;
}


.decor-square_left::after {
    content: '';
    background: url(../img/svg-decor.svg);
    width: 528px;
    height: 48px;
    position: absolute;
    left: -350px;
    top: 100px;
    z-index: -1;
}

.decor-square_right::before {
    content: '';
    background: url(../img/svg-decor.svg);
    width: 528px;
    height: 48px;
    position: absolute;
    right: -350px;
    top: 100px;
    z-index: -1;
}

.decor-button-video {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #3596ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.decor-button__position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.decor-button-video__item {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 32px solid #f1f1f1;
    border-bottom: 16px solid transparent;
}