* {
    font-family: 'Oswald';
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

p {
    color: #535755;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}

/* ======================================================================================== */

main {
    margin-bottom: 110px;
}

.preview {
    margin-bottom: 65px;
}

/* .preview-text__first {} */

/* .preview-text__second {} */

.title-text {
    color: #2c332f;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 5px rgba(0, 0, 0, 0.25);
}

.image-gym {
    max-width: 1230px;
    margin-bottom: 65px;
    width: 100%;
}

.group-activities {
    margin-bottom: 65px;
}

div.group-activities h3 {
    color: #2c332f;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
}

.activities__list li::marker {
    color: #3596ed;
}

/* Загуглил как можно было сделать сделать  */

ul.activities__list li {
    margin-bottom: 12px;
}

/* .comment-gym {} */

div.comment-gym h3 {
    color: #2c332f;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
}

div.comment-gym video {
    max-width: 1230px;
    margin-bottom: 20px;
    width: 100%;
}

div.comment-gym p {
    color: #535755;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}