.header {
    padding: 0 10px;
}

.hat-article {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3cbd9;
}

.hat-article__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: right;
}

.hat-article__info-text {
    color: #858e8a;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
}

.hat-article__info a {
    text-decoration: none;
    color: #2c332f;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}
