/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::after,
*::before {
    font-family: 'Oswald' 'Ubuntu', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 375px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

p {
    color: #535755;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

/* .logo {
    width: 84px;
    height: 45px;
} */

/* .logo {
    font-family: Ubuntu;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    line-height: 18px;
}

.logo img {
    padding-left: 1.4px;
}

.logo span {
    font-size: 22px;
} */


section {
    margin-bottom: 140px;
}

a,
button {
    outline: none;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
    outline: 2px solid #3596ED;
    outline-offset: 1px;
}

.button:disabled {
    opacity: 0.65;
    cursor: default;
}

.decor-square-hero::after {
    content: "";
    position: absolute;
    background: url(../img/svg-decor-preview.svg);
    height: 48px;
    z-index: -1;
}


@media (width <=992px) {
    .container {
        max-width: 768px;
    }
}

@media (width <=768px) {
    .container {
        max-width: 576px;
    }
}

@media (width <=576px) {
    section {
        margin-bottom: 70px;
    }
}