*,
*::after,
*::before {
    font-family: 'Oswald' 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

p {
    color: #535755;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}

/* .logo {
    width: 84px;
    height: 45px;
} */

/* .logo {
    font-family: Ubuntu;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    line-height: 18px;
}

.logo img {
    padding-left: 1.4px;
}

.logo span {
    font-size: 22px;
} */

.footer hr {
    padding-bottom: 40px;
    margin: 0;
}

section {
    padding-bottom: 140px;
}

a,
button {
    outline: none;
}

a:focus-visible,
button:focus-visible, summary:focus-visible {
    outline: 2px solid #3596ED;
    outline-offset: 1px;
}

.button:disabled {
    opacity: 0.65;
    cursor: default;
}