/* section preview============================================================= */

.preview {
    padding-top: 80px;
    position: relative;
}

.preview::after {
    content: "";
    position: absolute;
    background: url(../img/svg-decor-preview.svg);
    height: 48px;
    width: 100%;
    bottom: 245px;
    z-index: -1;
}

.preview-hero {
    display: flex;
    align-items: center;
    gap: 28px;
}

/* .preview-text {} */

.preview-text h1 {
    color: #2c332f;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 0;
}

.preview-text h1 strong {
    color: #3596ED;
}

.preview-text p {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 440;
    line-height: 130%;
    margin-bottom: 140px;
    max-width: 450px;
    text-align: left;
}

.button {
    display: inline-block;
    background-color: #3596ED;
    color: #ffffff;
    width: 270px;
    height: 57px;
    border: none;
    padding: 20px;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    opacity: 0.75;
    transition: 1s;
}

.preview-option {
    display: flex;
    position: relative;
}

.preview-option__girl:hover {
    transform: scale(1.1);
    transition: 1s;
}

.preview-option__man:hover {
    transform: scale(1.1);
    transition: 1s;
}


.preview-option__text {
    position: absolute;
    top: 40.5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #535755;
    background-color: #ffffff;
    color: #2C332F;
    width: 160px;
    height: 85px;
    padding: 20px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
}

/* section news============================================================= */

.news h2 {
    color: #2c332f;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 600;
    line-height: 115%;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 0;
}


.news-container {
    display: flex;
    gap: 28px;
}

.news-container img {
    display: block;
}

.news-window {
    border: 1px solid #D3CBD9;
    width: 284px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.news-window__info {
    padding: 20px 20px 0px;
}

.news-window__info-data {
    margin-bottom: 4px;
    color: #858E8A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 12%;
    text-align: left;
}

.news-window__info h3 {
    margin: 4px 0;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 440;
    line-height: 130%;
    text-align: left;
}

.news-window footer {
    padding: 4px 20px 20px;
    margin-bottom: auto;
}

.news-window__link {
    color: #3596ED;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 440;
    line-height: 130%;
    text-align: left;
    text-decoration: none;
}

.news-window__link::after {
    content: "";
    background: url(../img/стрелка.svg);
    display: inline-block;
    width: 22px;
    height: 9px;
    transition: 0.5s;
}

.news-window__link:hover:after {
    transform: translateX(50%);
}