/* ======================================================================================== */
main {
    min-height: 66.4vh;
}
/* .header {} */
.header {
    padding: 0 10px;
}

.hat-article {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3cbd9;
}

.hat-article__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: right;
}

.hat-article__info-text {
    color: #858e8a;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
}

.hat-article__info a {
    text-decoration: none;
    color: #2c332f;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

/* Footer==================================================================================== */

.footer {
    background: linear-gradient(90.00deg, #49a9ff33, #fc7cd933 100%);
}

.container-footer {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-footer {
    padding-bottom: 40px;
}

/* .footer__nav {} */

.footer__nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1vh 60px;
    padding: 0px 40px 39.5px 40px;
}

.footer__nav-list-item {
    color: #535755;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}


.copyright {
    padding-bottom: 40px;
    color: #858e8a;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4%;
    text-align: left;
    text-align: center;
}

.footer hr {
    padding-bottom: 40.5px;

}
