body {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
    background: #F8FCFF;
}

/* ================================================================================================ */

/* ================================================Header================================================ */

.conteiner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    min-height: 108px;
    color: #25282B;
}

.header__local {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
    min-height: 108px;
}

.nav__logo {
    max-width: 54px;
}

/* .nav {} */

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

/* .nav__point {} */

.nav__networks {
    justify-self: end;
}

.networks__list {
    display: flex;
    gap: 10px 30px;
}

/* .networks__point {} */

/* ================================================Main================================================ */

/* ================================================Section-one================================================ */

.section-one {
    padding: 120px 0px;
    color: white;
    position: relative;
}

.section-one__local {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.section-one__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.section-one__list {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.section-one__point {
    margin-bottom: 15px;
}

.section-one__point:hover {
    color: #1D6FB6;
}

/* .section-one__point:hover img {
    Неоткрывается SVG код
} */


.section-one__point:last-child {
    margin-bottom: 0px;
}

.section-one__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-one__video {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.section-one__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: #102E49;
    opacity: 0.8;
}

button {
    width: 288px;
    height: 55px;
    text-align: center;
    color: #1D6FB6;
    background: #D0DCE7;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    transition: 1s;
}

button:hover {
    background: #83ADD3;
    color: #F8FCFF;
}

/* Section two */
.main__body {
    padding-top: 150px;
}

.main__accent {
    display: flex;
    gap: 0px 126px;
}

.board {
    flex-shrink: 0;
    max-width: 282px;
    width: 100%;
    max-height: 1170px;
    border: 2px solid #D0DCE7;
}

/* .board__nav {} */

.board__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
    font-size: 16px;
    font-weight: 500;
}

/* .board__point {} */

/* ================================================Content================================================ */

/* .content {} */

.content-block-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
    gap: 24px;
}

.content-block-one__img img {
    width: 100%;
}

.content-block-one__img {
    position: relative;
    overflow: hidden;
}


.content-block-one__img_text {
    position: absolute;
    background: #1D6FB6B3;
    color: aliceblue;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: 1s;
    height: 30%;
}

.content-block-one__img:hover .content-block-one__img_text {
    transform: translateY(0)
}

.content-block-one__img_big-fist {
    grid-column: 1/3;
    grid-row: span 2;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.content-block-one__img_big-fist .content-block-one__img_text,
.content-block-one__img_big-last .content-block-one__img_text {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.content-block-one__img_big-last {
    grid-column: 3/5;
    grid-row: span 2;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.content-block-two {
    padding-top: 120px;
}

.content-block-two__accent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.content-block-two__ware {
    width: 384px;
    height: 354px;
    border: solid #D9D9D9;
}

.content-block-two__ware__img img {
    width: 100%;
}

.content-block-two__ware__img_text {
    position: absolute;
    color: #1d6fb6;
    margin-top: 30px;
    background: #F8FCFF;
    width: 130px;
    height: 56px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: 1s;
}

.content-block-two__ware:hover .content-block-two__ware__img_text {
    width: 148px;
}

.content-block-two__ware__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* ================================================Footer================================================ */

.footer {
    margin-top: 120px;
    height: 80px;
    background: #788088;
    display: flex;
    align-content: center;
    margin: 30px 0px;
}

.footer__end {
    margin: 30px 0px;
    color:  #f8fcff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}