.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    border-bottom: 1px solid #857e7e;
}

.quad {
    width: 50px;
    height: 50px;
    background-color: #000000;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    color: #000;
    font-size: 20px;
}

.phone {
    color: #000;
    font-size: 20px;
}