fieldset {
    width: 320px;
}

label {
    display: block;
    margin-bottom: 10px;
}

div {
    margin-bottom: 7px;
}

textarea {
    max-height: 200px;
    min-height: 18px;
    width: 250px;
    resize: vertical;
}

.hero {
    font-weight: 700;
}

::placeholder {
    font-family: serif;
}

button {
    background-color: rgb(184, 179, 179);
    border-radius: 10px;
    border:  0px;
    padding: 10px;
}