body {
    background: #3f3939;
}

main {
    margin: 50px;
    padding: 10px;
}

.picture {
    --border: #975959;
    border: var(--border) 5px solid;
    border-top: var(--border) 10px solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

img {
    max-width: 1000px;

}

h1 {
    margin-top: 20px;
    padding-bottom: 50px;
    color: #f5deb3;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}